#main
  #choose_type.signup
    %h2 Sign up with us and join our large community!
    %p Are you a <strong>user</strong> or a <strong>company</strong>?
    .two_links
      = link_to 'I am a user!', new_user_path
      = link_to 'I am a company!', new_company_path
