#main.wide_side
  ~ form_for resource, as: resource_name, url: password_path(resource_name), html: {class: 'basic forgot validate', method: :post} do |f|
    %h2 Forgot your password?
    = devise_error_messages!
    %p 
      Please enter your email and we will send you an email with further instructions
    %ul
      %li.half.left
        %label{for: 'email'} Email
        = f.email_field :email, class: 'required'
      %li.half.right
        = f.submit 'Send Instructions'
