- if portfolio
  .uploaded_image{style: "background-color: #FFFFFF; background-image: url('#{portfolio.image.url(:medium)}'); background-size: 288px 192px; background-repeat: no-repeat; box-shadow: 0 0 3px #CCCCCC; height: 192px; margin: 15px 0; width: auto;"}
- else
  .big_image
  
  
