- @portfolio ||= Portfolio.new
.side
  .new_profile.info
    %h3 Your FREE listing will look like this:
    %p Everyone gets a small listing card. Yours is shown below. You can get a bigger card, more images, and better placement when you upgrade to <a href="">Pro</a>.
    .small_listing
      %h4
        %span.icon.star
        Your Business Name
      = image_tag "../assets/small_listing_pic.png", alt: 'pic'
      %div
        %strong Location
        %span Buget Range
        %span Category
    ~ form_for @portfolio, remote: true, html: {mutipart: true} do |f|
      %div
        #upload_msg
        = f.file_field :image
        %p Upload a 635x444 JPG or PNG
      = submit_tag 'upload'
    %h3.upgrade_pro
      %span.icon.darkstar
      %span.text or Upgrade to PRO listing!
    %strong.pro for only $149 a month
    .pro_image= render partial: 'big_image', locals: {portfolio: @portfolio}
    .card.small_listing
      %h4 Your Company Name
      %address Address
      Budget Range
      %hr
      Category
    %h3.why_pro Why go PRO?
    %ul.pro_perks
      %li
        %span.star.icon
        Large Display Photo
      %li
        %span.star.icon
        Reports
      %li
        %span.star.icon
        Custom web address
      %li
        %span.star.icon
        No obligation
      %li
        %span.star.icon
        Multiple photos
