#main.profile
  .content
    .inner
      .page_header
        %h2
          %span.icon.person
          Company Profile
      = render partial: 'form'
  = render partial: 'profile_side', locals: {active: 'profile'}
