/** sprite: sprite; sprite-image: url('../assets/sprite.png'); sprite-layout: horizontal; sprite-ie6-mode: none; sprite-margin-right: 10px */
/** sprite: sprite-y; sprite-image: url('../assets/sprite-y.png'); sprite-layout: vertical; sprite-ie6-mode: none; sprite-margin-bottom: 20px */
/** sprite: sprite-right; sprite-image: url('../assets/sprite-right.png'); sprite-layout: vertical; sprite-ie6-mode: none; sprite-alignment: right; sprite-margin-bottom: 20px */
/** sprite: sprite-bottom; sprite-image: url('../assets/sprite-bottom.png'); sprite-layout: horizontal; sprite-ie6-mode: none; sprite-alignment: bottom; sprite-margin-right: 5px */
/** sprite: sprite-grad; sprite-image: url('../assets/sprite-grad.png'); sprite-layout: vertical; sprite-ie6-mode: none; sprite-margin-bottom: 20px */
/*
   To generate sprites: navigate to the smart sprites folder
   ./smartsprites.sh --root-dir-path /home/user/example
*/
/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  line-height: 1;
  color: #00203a;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
/* remember to define focus styles! */
:focus {
  outline: 0;
}
/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* This helps to make newer HTML5 elements behave like DIVs in older browers */article,
aside,
dialog,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
/* Remove possible quote marks (") from <q>, <blockquote>. */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
}
blockquote, q {
  quotes: "" "";
}
/* Remove annoying border on linked images. */
a img {
  border: none;
}
/* Remember to define your own focus styles! */
:focus {
  outline: 0;
}
/* end reset */
@media print {
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }
  /* Black prints faster: sanbeiji.com/archives/953 */
  a, a:visited {
    color: #444 !important;
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }
  /* Don't show links for images, or javascript/internal links */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  /* css-discuss.incutio.com/wiki/Printing_Tables */
  tr, img {
    page-break-inside: avoid;
  }
  @page  {
    margin: 0.5cm;
  }
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }
  h2, h3 {
    page-break-after: avoid;
  }
}
/* general - mixins -------------------------------------------------------------------------------- */
.line-hover {
  text-decoration: none;
}
.line-hover:hover {
  text-decoration: underline;
}
.clearfix {
  zoom: 1;
}
.clearfix:after {
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  content: ".";
}
.hide {
  text-indent: -9999px;
}
.upper {
  text-transform: uppercase;
}
/*Drop shadows*/
/*Transitions*/
/*Buttons*/
/*Add an alphatransparency value to any background or border color (via Elyse Holladay)*/
/*Gradients*/
/* general - structure -------------------------------------------------------------------------------- */
body {
  background: url(../assets/bg.jpg) center 0 repeat;
}
#wrapper, #footer .inner {
  width: 960px;
  margin-right: auto;
  margin-left: auto;
}
#header, #main {
  padding: 0 33px;
}
#main {
  padding-bottom: 70px;
  zoom: 1;
  min-height: 900px;
}
#main:after {
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  content: ".";
}
/* general - misc -------------------------------------------------------------------------------- */
hr {
  background: #c1c3c4;
  color: #c1c3c4;
  clear: both;
  float: none;
  width: 100%;
  height: 1px;
  margin: 10px 0;
  border: none;
  border-bottom: 1px solid #f5fafd;
}
/* general - links -------------------------------------------------------------------------------- */
a {
  color: #4291ab;
}
/* general - text -------------------------------------------------------------------------------- */
/* Line-height should always be unitless! */
body {
  font-family: optima, helvetica, arial, sans-serif;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.5;
  line-height: 1.5;
}
h2 {
  font-family: optima, helvetica, arial, sans-serif;
  font-size: 36px;
  font-weight: bold;
  line-height: 36px;
}
h1 img,
h2 img,
h3 img,
h4 img,
h5 img,
h6 img {
  margin: 0;
}
@font-face {
  font-family: 'fontfamiliy';
  src: url('../_fonts/fontfamiliy.eot?#iefix') format('embedded-opentype'), url('../_fonts/fontfamiliy.woff') format('woff'), url('../_fonts/fontfamiliy.svg#fontfamiliy') format('svg');
}
/* general - forms -------------------------------------------------------------------------------- */
/*A special hack is included for IE8 since it does not apply padding correctly on fieldsets*/
label {
  font-weight: bold;
}
fieldset {
  padding: 0 1.4em 1.4em 1.4em;
  margin: 0 0 1.5em 0;
  border: 1px solid #ccc;
}
legend {
  font-weight: bold;
  font-size: 1.2em;
  margin-top: -0.2em;
  margin-bottom: 1em;
}
fieldset, #IE8#HACK {
  padding-top: 1.4em;
}
legend, #IE8#HACK {
  margin-top: 0;
  margin-bottom: 0;
}
input[type=text], input[type=password], textarea {
  background-color: #fff;
  border: 1px solid #bbb;
  background-repeat: repeat-x;
  background-position: 0 0;
  background-image: url(../assets/grad-input.png); /** sprite-ref: sprite-grad; */

}
input[type=text]:focus,
input[type=password]:focus,
input.text:focus,
input.title:focus,
textarea:focus {
  border-color: #666;
}
/* content -------------------------------------------------------------------------------- */
/* header -------------------------------------------------------------------------------- */
#header {
  padding-bottom: 25px;
}
#header h1 {
  float: left;
}
#header h1 a {
  display: block;
  text-indent: -9999px;
  width: 132px;
  height: 150px;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-image: url(../assets/logo.png); /** sprite-ref: sprite; */

}
#header div.top {
  float: right;
  width: 745px;
  padding-bottom: 62px;
}
#header div.top div.login {
  text-align: right;
  clear: both;
  font-family: optima, helvetica, arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 16px;
  padding: 30px 0 20px;
  color: #4291ab;
}
#header div.top div.login a {
  text-decoration: none;
}
#header div.top div.login a:hover {
  text-decoration: underline;
}
#header div.top p.trial {
  float: left;
  font-weight: bold;
  font-family: optima, helvetica, arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 58px;
  width: 316px;
}
#header div.top p.trial span {
  background-repeat: no-repeat;
  background-position: 0 0;
  background-image: url(../assets/home-star.png); /** sprite-ref: sprite; */

  display: inline-block;
  width: 17px;
  height: 17px;
  margin: -5px 3px 0 0;
}
#header div.top p.trial a {
  text-decoration: none;
}
#header div.top p.trial a:hover {
  text-decoration: underline;
}
#header div.top ul.nav, #header div.top p.trial {
  padding-top: 13px;
}
#header div.top ul.nav a, #header div.top p.trial {
  line-height: 35px;
}
#header div.top ul.nav {
  float: right;
  width: 430px;
  padding-left: 44px;
  height: 41px;
  margin-right: -49px;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-image: url(../assets/home-banner-grey.png); /** sprite-ref: sprite; */

}
#header div.top ul.nav li {
  float: left;
  padding-right: 20px;
}
#header div.top ul.nav li a {
  display: block;
  text-decoration: none;
  color: #012841;
  font-size: 16px;
  font-weight: bold;
}
#header div.top ul.nav li a:hover {
  text-decoration: underline;
}
#header div.top ul.nav li a span {
  margin: -7px 5px 0 0;
}
#header div.top ul.nav li a span.cities {
  background-repeat: no-repeat;
  background-position: 0 0;
  background-image: url(../assets/home-map.png); /** sprite-ref: sprite; */

  width: 13px;
  height: 16px;
}
#header div.top ul.nav li a span.favorites {
  background-repeat: no-repeat;
  background-position: 0 0;
  background-image: url(../assets/home-heart.png); /** sprite-ref: sprite; */

  width: 16px;
  height: 14px;
  margin: -5px 5px 0 0;
}
#header div.top ul.nav li a span.features {
  background-repeat: no-repeat;
  background-position: 0 0;
  background-image: url(../assets/home-star.png); /** sprite-ref: sprite; */

  width: 17px;
  height: 17px;
  margin: -5px 5px 0 0;
}
#header div.top ul.nav li a.get_listed {
  background-repeat: no-repeat;
  background-position: 0 0;
  background-image: url(../assets/home_getlisted.png); /** sprite-ref: sprite; */

  width: 97px;
  height: 99px;
  text-indent: -9999px;
  margin: -12px 0 0 0;
}
#header strong.home_leader {
  text-indent: -9999px;
  display: block;
  width: 786px;
  height: 196px;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-image: url(../assets/home-leader.png); /** sprite-ref: sprite; */

  margin: 0 auto;
  clear: both;
}
#header .sub_nav {
  background-repeat: no-repeat;
  background-position: 0 0;
  clear: both;
  background-image: url(../assets/home-banner.png); /** sprite-ref: sprite; */

  height: 59px;
  margin: 30px -70px;
  color: #fff;
  text-align: center;
  font-family: optima, helvetica, arial, sans-serif;
  font-size: 20px;
  font-weight: normal;
  line-height: 55px;
}
#header .sub_nav > span {
  position: relative;
  display: inline-block;
  vertical-align: top;
}
#header .sub_nav > span > strong {
  text-decoration: underline;
  cursor: pointer;
  vertical-align: top;
}
#header .sub_nav > span span.wrapper {
  display: inline-block;
  text-align: left;
  vertical-align: top;
  position: absolute;
  display: none;
  top: 34px;
  left: 0;
}
#header .sub_nav > span span.wrapper span {
  display: inline-block;
  margin-left: 20px;
  width: 28px;
  height: 25px;
  z-index: 10;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-image: url(../assets/home-menu-arrow3.png); /** sprite-ref: sprite; */

}
#header .sub_nav > span ul {
  text-align: left;
  margin-top: -23px;
  -webkit-box-shadow: 0 0 8px #dddddd;
  -moz-box-shadow: 0 0 8px #dddddd;
  box-shadow: 0 0 8px #dddddd;
  padding: 15px 0;
  background-color: #d1e1e6;
  border: 1px solid #aec7cf;
}
#header .sub_nav > span ul li a {
  font-family: helvetia neue;
  font-size: 18px;
  line-height: 26px;
  color: #001f39;
  display: block;
  text-decoration: none;
  text-decoration: none;
  white-space: nowrap;
  font-weight: normal;
  padding: 0 10px;
}
#header .sub_nav > span ul li a:hover {
  text-decoration: underline;
}
#header .sub_nav > span.hover span.wrapper {
  display: inline-block;
}
#header .additional_results {
  text-align: center;
  font-size: 18px;
  padding-bottom: 15px;
  margin-top: -10px;
}
#header .additional_results a {
  font-weight: bold;
  display: inline-block;
  margin-right: 10px;
  color: #00203a;
}
.featured {
  zoom: 1;
  margin-right: -12px;
}
.featured:after {
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  content: ".";
}
.featured > li, .featured .featured_item {
  width: 290px;
  overflow: hidden;
  padding: 0 12px 12px 0;
  float: left;
  /*		ul.links, a {
			.box-shadow;
		}
*/
}
.featured > li span.wrapper, .featured .featured_item span.wrapper {
  display: block;
  background-repeat: no-repeat;
  background-position: 93px 140px;
  background-image: url(../assets/newcorneraf.png); 

  margin: 0 -12px -12px 0;
  padding: 12px 24px 24px 12px;
}
.featured > li ul.links, .featured .featured_item ul.links {
  background-color: #e6e9e9;
  float: left;
  zoom: 1;
  display: relative;
  border: 1px solid #dcdfdf;
  border-bottom: none;
  margin-bottom: -1px;
  padding: 0 5px;
}
.featured > li ul.links:after, .featured .featured_item ul.links:after {
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  content: ".";
}
.featured > li ul.links li, .featured .featured_item ul.links li {
  float: left;
  padding: 5px;
}
.featured > li ul.links li a, .featured .featured_item ul.links li a {
  display: block;
  text-indent: -9999px;
}
.featured > li ul.links li a.favorite, .featured .featured_item ul.links li a.favorite {
  background-repeat: no-repeat;
  background-position: 0 0;
  background-image: url(../assets/home-starlink9.png); /** sprite-ref: sprite; */
  width: 13px;
  height: 13px;
 
}
.featured > li ul.links li a.contact, .featured .featured_item ul.links li a.contact {
  background-repeat: no-repeat;
  background-position: 0 0;
  background-image: url(../assets/home-phonelink9.png); /** sprite-ref: sprite; */

  width: 12px;
  height: 11px;
  margin-top: 1px;

}
.featured > li ul.links li a.website, .featured .featured_item ul.links li a.website {
  background-repeat: no-repeat;
  background-position: 0 0;
  /*background-image: url(../assets/home-linkb.png);*/

  background-image: url(../assets/home-link9.png); /** sprite-ref: sprite; */

  width: 11px;
  height: 12px;
}
.featured > li ul.links li a.website:hover, .featured .featured_item ul.links li a.website:hover {
  background-repeat: no-repeat;
  background-position: 0 0;
  /*background-image: url(../assets/home-linkw.png);*/

  background-image: url(../assets/home-link9.png); /** sprite-ref: sprite; */

}
.featured > li > a,
.featured .featured_item > a,
.featured > li > div.inner,
.featured .featured_item > div.inner {
  display: block;
  /*.box-shadow(5px 5px 5px #eee);*/

  text-decoration: none;
  background-color: #e6e9e9;
  border: 1px solid #dcdfdf;
  /*padding: 12px;*/

  clear: both;
  color: #00203a;
}
.featured > li > a img,
.featured .featured_item > a img,
.featured > li > div.inner img,
.featured .featured_item > div.inner img {
  width: 263px;
}
.featured > li > a h3,
.featured .featured_item > a h3,
.featured > li > div.inner h3,
.featured .featured_item > div.inner h3 {
  height: 50px;
  font-size: 20px;
  line-height: 24px;
  padding-bottom: 0;
}
.featured > li > a address,
.featured .featured_item > a address,
.featured > li > div.inner address,
.featured .featured_item > div.inner address {
  font-style: normal;
  font-size: 12px;
  font-weight: bold;
  display: block;
}
.featured > li > a span,
.featured .featured_item > a span,
.featured > li > div.inner span,
.featured .featured_item > div.inner span {
  font-size: 12px;
}
.featured > li.hover > a, .featured .featured_item.hover > a {
  background-color: #00233c;
  color: #fff;
}
.featured > li.hover > a span.wrapper, .featured .featured_item.hover > a span.wrapper {
  background-repeat: no-repeat;
  background-position: 87px 100px;
  background-image: url(../assets/newcorneraf-hover.png); 

}
.featured > li.hover h3, .featured .featured_item.hover h3 {
  color: #3d8ba5;
}
.featured > li.hover hr, .featured .featured_item.hover hr {
  background: #000102;
  color: #000102;
  border-color: #0a3553;
}
.featured > li.hover ul.links, .featured .featured_item.hover ul.links {
  background-color: #00233c;
}
/*.featured > li.hover ul.links li a.favorite, .featured .featured_item.hover ul.links li a.favorite {*/
.featured > li.hover ul.links li a.favorite, .featured .featured_item ul.links li a.favorite {
  background-image: url(../assets/home-starlink9.png); /** sprite-ref: sprite; */

}
/*.featured > li.hover ul.links li a.favorite:hover, .featured .featured_item.hover ul.links li a.favorite:hover {*/
.featured > li.hover ul.links li a.favorite:hover, .featured .featured_item ul.links li a.favorite:hover {
  background-image: url(../assets/home-starlinkb.png); /** sprite-ref: sprite; */

}
.featured > li.hover ul.links li a.contact, .featured .featured_item.hover ul.links li a.contact {
  background-image: url(../assets/home-phonelink9.png); /** sprite-ref: sprite; */

}
/*.featured > li.hover ul.links li a.contact:hover, .featured .featured_item.hover ul.links li a.contact:hover {*/
.featured > li.hover ul.links li a.contact:hover, .featured .featured_item ul.links li a.contact:hover {
  background-image: url(../assets/home-phonelinkb.png); /** sprite-ref: sprite; */

}
.featured > li.hover ul.links li a.website, .featured .featured_item.hover ul.links li a.website {
  /*background-image: url(../assets/home-link2.png);*/

  background-image: url(../assets/home-link9.png); /** sprite-ref: sprite; */

}
/*.featured > li.hover ul.links li a.website:hover, .featured .featured_item.hover ul.links li a.website:hover {*/
.featured > li.hover ul.links li a.website:hover, .featured .featured_item ul.links li a.website:hover {
  /*background-image: url(../assets/home-linkb.png);*/

  background-image: url(../assets/home-linkb.png); /** sprite-ref: sprite; */

}
.featured > li.prompt, .featured .featured_item.prompt {
  /*full width = 592*/

  -webkit-box-shadow: 5px 5px 5px #eeeeee;
  -moz-box-shadow: 5px 5px 5px #eeeeee;
  box-shadow: 5px 5px 5px #eeeeee;
  height: 301px;
  width: 545px;
  padding: 20px 20px 20px 25px;
  border: 1px solid #b4cfd8;
  background-color: #d1e1e6;
  overflow: visible;
}
.featured > li.prompt span.logo, .featured .featured_item.prompt span.logo {
  display: inline-block;
  width: 95px;
  height: 117px;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-image: url(../assets/logo-mini.png); /** sprite-ref: sprite; */

  z-index: 100;
  margin-top: -25px;
}
.featured > li.prompt h2, .featured .featured_item.prompt h2 {
  font-size: 24px;
  line-height: 25px;
  /*width: 260px;*/

}
.featured > li.prompt div, .featured .featured_item.prompt div {
  width: 265px;
  height: 182px;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-image: url(../assets/home-camera2.png); /** sprite-ref: sprite; */

  float: right;
  position: relative;
}
.featured > li.prompt div span, .featured .featured_item.prompt div span {
  position: absolute;
  top: 5px;
  left: -30px;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-image: url(../assets/home_getlisted.png); /** sprite-ref: sprite; */

}
.featured > li.prompt ul, .featured .featured_item.prompt ul {
  padding-top: 20px;
  margin: 0;
  clear: both;
  margin-right: -20px;
  zoom: 1;
}
.featured > li.prompt ul:after, .featured .featured_item.prompt ul:after {
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  content: ".";
}
.featured > li.prompt ul li, .featured .featured_item.prompt ul li {
  float: left;
  line-height: 18px;
  width: 260px;
  padding: 0 20px 15px 0;
  font-size: 15px;
}
.icon {
  display: inline-block;
  vertical-align: middle;
}
.icon.star {
  background-repeat: no-repeat;
  background-position: 0 0;
  background-image: url(../assets/home-starlinkb.png); /** sprite-ref: sprite; */

  width: 13px;
  height: 13px;
}
.icon.scales {
  background-repeat: no-repeat;
  background-position: 0 0;
  background-image: url(../assets/scales.png); /** sprite-ref: sprite; */

  width: 69px;
  height: 70px;
}
.icon.contact {
  background-repeat: no-repeat;
  background-position: 0 0;
  background-image: url(../assets/icon-mail.png); /** sprite-ref: sprite; */

  width: 19px;
  height: 13px;
}
.icon.print {
  background-repeat: no-repeat;
  background-position: 0 0;
  background-image: url(../assets/icon-print.png); /** sprite-ref: sprite; */

  width: 21px;
  height: 19px;
}
.icon.favorite {
  background-repeat: no-repeat;
  background-position: 0 0;
  background-image: url(../assets/icon-bigstar.png); /** sprite-ref: sprite; */

  width: 17px;
  height: 17px;
}
.icon.darkstar {
  background-repeat: no-repeat;
  background-position: 0 0;
  background-image: url(../assets/icon-darkstar.png); /** sprite-ref: sprite; */

  width: 20px;
  height: 20px;
}
.icon.person {
  background-repeat: no-repeat;
  background-position: 0 0;
  background-image: url(../assets/icon-person.png); /** sprite-ref: sprite; */

  width: 24px;
  height: 22px;
  margin: -6px 13px 0 0;
}
.icon.heart {
  background-repeat: no-repeat;
  background-position: 0 0;
  background-image: url(../assets/icon-heart.png); /** sprite-ref: sprite; */

  width: 27px;
  height: 24px;
  margin: -6px 13px 0 0;
}
.icon.delete {
  background-repeat: no-repeat;
  background-position: 0 0;
  background-image: url(../assets/icon-delete.png); /** sprite-ref: sprite; */

  width: 13px;
  height: 13px;
  margin: -7px 5px 0 0;
}
.icon.bigmap {
  background-repeat: no-repeat;
  background-position: 0 0;
  background-image: url(../assets/icon-bigmap.png); /** sprite-ref: sprite; */

  width: 20px;
  height: 27px;
  margin: -7px 5px 0 0;
}
.icon.state {
  background-repeat: no-repeat;
  background-position: 0 0;
  background-image: url(../assets/icon-state.png); /** sprite-ref: sprite; */

  width: 26px;
  height: 29px;
  margin: -7px 5px 0 0;
}
.icon.camera {
  background-repeat: no-repeat;
  background-position: 0 0;
  background-image: url(../assets/icon-camera.png); /** sprite-ref: sprite; */

  width: 24px;
  height: 19px;
  margin: -8px 8px 0 0;
}
.icon.gear {
  background-repeat: no-repeat;
  background-position: 0 0;
  background-image: url(../assets/icon-gear.png); /** sprite-ref: sprite; */

  width: 26px;
  height: 25px;
  margin: -8px 8px 0 0;
}
ul.full_list {
  zoom: 1;
  padding-top: 10px;
  margin-right: -11px;
}
ul.full_list:after {
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  content: ".";
}
ul.full_list li {
  /*		894 full 213width + 2border = 215px*/

  background-color: #fff;
  width: 215px;
  margin-right: 11px;
  margin-bottom: 11px;
  float: left;
}
ul.full_list li a {
  display: block;
  border: 1px solid #dcdddd;
  padding: 10px;
  color: #00203a;
  zoom: 1;
  text-decoration: none;
}
ul.full_list li a:after {
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  content: ".";
}
ul.full_list li a:hover {
  background-color: #00233c;
  color: #fff;
}
ul.full_list li a:hover h4 {
  color: #3d8ba5;
}
ul.full_list li h4 {
  font-size: 15px;
  line-height: 18px;
  color: #00203a;
  padding-bottom: 8px;
  display: block;
}
ul.full_list li h4 span {
  margin: -6px 5px 0 0;
}
ul.full_list li img {
  float: left;
  width: 86px;
}
ul.full_list li div {
  font-size: 12px;
  width: 100px;
  float: right;
  line-height: 18px;
}
ul.full_list li div strong, ul.full_list li div span {
  display: block;
}
.small_listing {
  /*		894 full 213width + 2border = 215px*/

  background-color: #fff;
  width: 215px;
  margin-right: 11px;
  margin-bottom: 11px;
  float: left;
}
.small_listing a {
  display: block;
  border: 1px solid #dcdddd;
  padding: 10px;
  color: #00203a;
  zoom: 1;
  text-decoration: none;
}
.small_listing a:after {
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  content: ".";
}
.small_listing a:hover {
  background-color: #00233c;
  color: #fff;
}
.small_listing a:hover h4 {
  color: #3d8ba5;
}
.small_listing h4 {
  font-size: 15px;
  line-height: 18px;
  color: #00203a;
  padding-bottom: 8px;
  display: block;
}
.small_listing h4 span {
  margin: -6px 5px 0 0;
}
.small_listing img {
  float: left;
  width: 86px;
}
.small_listing div {
  font-size: 12px;
  width: 100px;
  float: right;
  line-height: 18px;
}
.small_listing div strong, .small_listing div span {
  display: block;
}
/* footer -------------------------------------------------------------------------------- */
#footer {
  background-color: #012339;
  color: #fff;
  overflow: hidden;
}
* {
  margin: 0;
}
html, body {
  height: 100%;
}
#wrapper {
  min-height: 100%;
  background-color: #fff;
  height: auto !important;
  height: 100%;
  margin: 0 auto -45px;
  /* the bottom margin is the negative value of the footer's height */

}
#footer, .push {
  height: 45px;
  /* .push must be the same height as .footer */

}
/*

Sticky Footer by Ryan Fait
http://ryanfait.com/

*/
#footer {
  color: #fff;
}
#footer .inner {
  zoom: 1;
}
#footer .inner:after {
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  content: ".";
}
#footer ul {
  float: left;
}
#footer ul li {
  float: left;
  padding-right: 20px;
}
#footer ul li a {
  text-transform: uppercase;
  display: block;
  color: #fff;
  text-decoration: none;
  line-height: 45px;
}
#footer ul li a:hover {
  text-decoration: underline;
}
#footer p {
  float: right;
  line-height: 45px;
}
#footer p a {
  color: #fff;
}
#footer p a.doejo {
  /*font-family: archer pro;				*/

  /*font-style: italic;*/

  /*.line-hover;*/

  display: inline-block;
  text-indent: -9999px;
  width: 30px;
  height: 12px;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-image: url(../assets/doejo.png); /** sprite-ref: sprite; */

  vertical-align: middle;
  margin-top: -5px;
}
#footer p a.doejo:hover {
  background-repeat: no-repeat;
  background-position: 0 0;
  background-image: url(../assets/doejo-hover.png); /** sprite-ref: sprite; */

}
/*search_results_none*/
.no_results strong {
  text-indent: -9999px;
  display: block;
  width: 470px;
  height: 64px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-image: url(../assets/no-results.png); /** sprite-ref: sprite; */

}
.no_results p {
  font-family: optima, helvetica, arial, sans-serif;
  font-size: 18px;
  font-weight: normal;
  line-height: 24px;
  text-align: center;
  padding-bottom: 25px;
}
.no_results span {
  margin: 0 auto;
  display: block;
}
.page_header {
  background-repeat: repeat-x;
  background-position: 0 bottom;
  background-image: url(../assets/grad-header.png);
  padding-bottom: 10px;
  margin-bottom: 20px;
  zoom: 1;
}
.page_header:after {
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  content: ".";
}
.page_header h2 {
  float: left;
  padding-bottom: 10px;
}
.page_header ul {
  float: right;
}
.page_header ul li {
  float: left;
  padding-left: 25px;
}
.page_header ul li a {
  color: #00203a;
  text-decoration: none;
  font-family: optima, helvetica, arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 36px;
}
.page_header ul li a:hover {
  text-decoration: underline;
}
.page_header ul li a span {
  margin: -5px 6px 0 0;
}
.page_header ul li a span.favorite {
  margin-top: -7px;
}
.bordered {
  padding: 8px;
  border: 1px solid #d9d9d9;
  -webkit-box-shadow: 0 0 4px #d9d9d9;
  -moz-box-shadow: 0 0 4px #d9d9d9;
  box-shadow: 0 0 4px #d9d9d9;
}
.content {
  width: 580px;
  float: left;
}
.content img.main {
  width: 559px;
  display: block;
  margin-bottom: 20px;
}
.content p {
  padding-bottom: 20px;
  font-family: optima, helvetica, arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 18px;
  color: #00213b;
}
#main.wide_side .side {
  width: 330px;
}
#main.wide_side .content {
  width: 540px;
}
#main .side {
  width: 290px;
  float: right;
}
#main .side .featured {
  padding-bottom: 30px;
  margin-right: 0;
}
#main .side .featured_item {
  font-size: 14px;
  overflow: visible;
  width: auto;
  float: none;
  padding: 0;
}
#main .side .featured_item a {
  font-size: 14px;
  color: #0094cb;
}
#main .side .featured_item address {
  font-weight: normal;
  font-size: 14px;
  display: inline;
}
#main .side .featured_item .inner {
  -webkit-box-shadow: 2px 2px 2px #eeeeee;
  -moz-box-shadow: 2px 2px 2px #eeeeee;
  box-shadow: 2px 2px 2px #eeeeee;
}
h4 {
  display: inline;
  font-size: 14px;
}
address {
  font-style: normal;
  display: inline;
}
.signup {
  text-align: center;
  clear: both;
}
.signup h2 {
  font-size: 28px;
  text-align: center;
  padding-bottom: 10px;
}
.signup p {
  font-size: 15px;
  text-align: center;
  padding-bottom: 25px;
}
div.two_links a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  padding: 10px 18px;
  font-size: 15px;
  font-weight: bold;
  background-color: #4291ab;
  margin-left: 7px;
}
div.two_links a:hover {
  text-decoration: underline;
}
div.two_links a:first-child {
  background-color: #022643;
  margin-right: 7px;
}
div.two_links span {
  font-weight: bold;
  font-size: 15px;
}
h3 {
  font-size: 15px;
  padding-bottom: 15px;
}
.new_profile.info {
  background-color: #eceded;
  border: 1px solid #e5e7e7;
  padding: 20px;
}
.new_profile.info .small_listing {
  background-color: #fff;
  border: 1px solid #dcdddd;
  margin: 0;
  width: 195px;
  padding: 8px;
  float: none;
  zoom: 1;
}
.new_profile.info .small_listing:after {
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  content: ".";
}
.new_profile.info form {
  padding: 15px 0;
  font-family: Arial, sans-serif;
  font-size: 12px;
  font-weight: normal;
  line-height: 18px;
}
.new_profile.info form div {
  padding-bottom: 10px;
}
.new_profile.info form div p {
  padding: 0;
}
.new_profile.info p {
  font-size: 13px;
  line-height: 18px;
  padding-bottom: 15px;
}
.new_profile.info a {
  color: #00213b;
}
.new_profile.info h3.upgrade_pro {
  padding-bottom: 0;
}
.new_profile.info h3.upgrade_pro span.text {
  display: inline-block;
  text-indent: -9999px;
  width: 249px;
  height: 25px;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-image: url(../assets/upgrade_to_pro.png); /** sprite-ref: sprite; */
}
.new_profile.info h3.upgrade_pro span.icon {
  margin: -5px 5px 0 0;
}
.new_profile.info strong.pro {
  color: #4291ab;
  font-size: 15px;
  padding-left: 26px;
}
.new_profile.info div.big_image {
  background-repeat: no-repeat;
  background-position: 4px 0;
  background-image: url(../assets/side-camera.png);/** sprite-ref: sprite; sprite-margin-left: 4px */

  width: auto;
  height: 192px;
  margin: 15px 0;
  -webkit-box-shadow: 0 0 3px #cccccc;
  -moz-box-shadow: 0 0 3px #cccccc;
  box-shadow: 0 0 3px #cccccc;
  background-color: #fff;
}
.new_profile.info .card.small_listing {
  float: none;
  width: auto;
  margin-bottom: 20px;
}
.new_profile.info .card.small_listing address {
  display: block;
  font-weight: bold;
}
.new_profile.info .card.small_listing h4 {
  font-size: 20px;
}
.new_profile.info h3.why_pro {
  text-indent: -9999px;
  width: 132px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-image: url(../assets/why_go_pro.png); /** sprite-ref: sprite; */

}
.new_profile.info .pro_perks {
  zoom: 1;
  margin-right: -10px;
}
.new_profile.info .pro_perks:after {
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  content: ".";
}
.new_profile.info .pro_perks li {
  float: left;
  padding: 0 10px 10px 0;
  width: 135px;
}
.new_profile.info .pro_perks li span {
  margin: -5px 3px 0 0;
}
form > ul {
  padding-bottom: 30px;
}
form > ul li {
  display: block;
  padding-bottom: 20px;
  clear: both;
}
form > ul li.half {
  width: 48%;
}
form > ul li.half.left {
  float: left;
  clear: none;
}
form > ul li.half.right {
  float: right;
  clear: none;
}
form > ul textarea {
  height: 140px;
}
form > ul textarea,
form > ul input[type="text"],
form > ul input[type="password"],
form > ul select {
  width: 96%;
  padding: 5px;
  font-family: Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 13px;
}
form > ul label {
  font-family: optima, helvetica, arial, sans-serif;
  font-size: 15px;
  font-weight: bold;
  line-height: 36px;
}
form > ul label span.required {
  color: #fe1f00;
  padding-left: 5px;
  font-family: Arial, sans-serif;
  font-size: 13px;
  font-weight: bold;
  line-height: 36px;
}
form .two_links {
  text-align: center;
}
.dblue_btn {
  display: inline-block;
  color: white;
  border: none;
  cursor: pointer;
  text-decoration: none;
  padding: 10px 18px;
  font-size: 15px;
  font-weight: bold;
  background-color: #022643;
  text-decoration: none;
}
.dblue_btn:hover {
  text-decoration: underline;
}
form.basic {
  margin: 30px auto;
}
form.basic p {
  font-family: optima, helvetica, arial, sans-serif;
  font-size: 15px;
  font-weight: normal;
  line-height: 18px;
  padding-bottom: 30px;
}
form.basic input[type="submit"] {
  display: inline-block;
  color: white;
  border: none;
  cursor: pointer;
  text-decoration: none;
  padding: 10px 18px;
  font-size: 15px;
  font-weight: bold;
  background-color: #022643;
  text-decoration: none;
  float: right;
  font-family: optima, helvetica, arial, sans-serif;
}
form.basic input[type="submit"]:hover {
  text-decoration: underline;
}
form.basic h2 {
  padding-bottom: 15px;
}
form.basic.publish {
  width: 670px;
}
form.basic.publish input[type="submit"] {
  margin-top: 40px;
}
form.basic.login {
  width: 500px;
}
form.basic.login > ul {
  width: 320px;
  margin: 0 auto;
}
form.basic.login > ul a {
  font-family: Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 38px;
}
form.basic.login li.final_full {
  padding-bottom: 30px;
}
form.basic.forgot {
  width: 520px;
}
form.basic.forgot .left {
  width: 65%;
}
form.basic.forgot .right {
  width: 35%;
  padding-top: 30px;
}
#main.favorites ul.full_list {
  padding-bottom: 30px;
  padding-top: 0;
  zoom: 1;
}
#main.favorites ul.full_list:after {
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  content: ".";
}
#main.favorites h3 {
  font-family: optima, helvetica, arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 18px;
  padding-top: 20px;
}
#main.favorites h3 span {
  font-weight: normal;
}
ul.places {
  zoom: 1;
  margin-right: -20px;
  padding-bottom: 40px;
  /*894 - 4*20 = 815/5 (814 but first child is going to have 1px less padding) = 163*/

}
ul.places:after {
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  content: ".";
}
ul.places > li {
  float: left;
  width: 163px;
  padding-right: 20px;
}
ul.places > li:first-child {
  padding-right: 19px;
}
ul.places > li a {
  display: block;
  color: #00203a;
  font-family: optima, helvetica, arial, sans-serif;
  font-size: 18px;
  font-weight: normal;
  line-height: 36px;
  text-decoration: none;
}
ul.places > li a:hover {
  text-decoration: underline;
}
ul.places.states li a {
  font-family: optima, helvetica, arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 36px;
}
#main.profile .content {
  width: 715px;
  float: right;
  background-color: #eceded;
  border: 1px solid #e2e4e4;
}
#main.profile .content > .inner {
  padding: 20px 35px;
}
#main.profile .content > .inner form.profile {
  width: 490px;
}
#main.profile .content > .inner form > ul {
  padding-bottom: 0;
}
#main.profile .content > .inner form li.save {
  display: block;
  padding-top: 30px;
}
#main.profile .side {
  width: 150px;
  float: left;
}
.profile_nav li {
  padding: 10px 15px;
  border-top: 1px solid #dfe1e1;
}
.profile_nav li:first-child {
  border-top: none;
}
.profile_nav li a {
  color: #00203a;
  text-decoration: none;
  font-family: optima, helvetica, arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 16px;
}
.profile_nav li a:hover {
  text-decoration: underline;
}
.profile_nav li a.active {
  color: #4291ab;
  text-decoration: underline;
}
.portfolio_images {
  zoom: 1;
  margin-right: -15px;
}
.portfolio_images:after {
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  content: ".";
}
.portfolio_images li.bordered {
  float: left;
  clear: none;
  background-color: #fff;
  padding: 0;
  margin: 0 12px 12px 0;
  width: 190px;
  overflow: hidden;
  height: 110px;
  padding: 8px;
  position: relative;
}
.portfolio_images li.bordered a {
  position: absolute;
  display: block;
  background-color: #ca1a02;
  display: none;
  top: 8px;
  left: 8px;
  color: #fff;
  font-family: optima, helvetica, arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 25px;
  padding: 0 10px;
  text-decoration: none;
}
.portfolio_images li.bordered a:hover {
  text-decoration: underline;
}
.portfolio_images li.bordered.active {
  cursor: pointer;
}
.portfolio_images li.bordered.active.hover {
  background-color: #c6c7c7;
}
.portfolio_images li.bordered.active.hover a {
  display: block;
}
.portfolio_images li.bordered img {
  display: block;
}
.portfolio_images li.bordered p {
  color: #4291ab;
  background-color: #edf3f5;
  text-align: center;
  line-height: 110px;
  padding: 0;
}
#main.profile.settings .content p {
  font-size: 13px;
}
#main.profile.settings .content ul {
  width: 290px;
}
#main.profile.settings .content ul li {
  padding-bottom: 15px;
}
#main.profile.settings .content ul li.save {
  padding-top: 20px;
}
#main.profile.settings .content h4 {
  padding: 15px 0;
  font-size: 15px;
  display: block;
}
#main.profile.settings .content a.cancel {
  text-decoration: none;
  color: #00203a;
  font-family: Arial, sans-serif;
  font-size: 12px;
  font-weight: normal;
  line-height: 12px;
  padding: 4px 10px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
  background-color: #fff;
  background: -moz-linear-gradient(top, #fafafa 0%, #dddddd 100%);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fafafa), to(#dddddd));
  border: 1px solid #CCC;
  border-bottom: 1px solid #BBB;
}
#main.profile.settings .content a.cancel:hover {
  text-decoration: underline;
}
.content a.back {
  margin-top: 40px;
}
p.notice {
  text-align: center;
  clear: both;
  font-family: Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 18px;
  padding: 10px;
  background-color: #fff9cf;
  border: 1px solid #fddda6;
  margin-bottom: 20px;
}
p.notice a {
  color: #00203a;
}
.featured_item .inner {
  padding: 10px;
}
